/* COLORS:
Header background - #FFDBAA
Button - #805215
Header Text - #553100
Main background - #D4A76A
*/

header {
  background-color: #FFDBAA;
  color: #553100;
}

button {
  color: #805215;
}

main {
  background-color: #D4A76A;
}

